@font-face {
    font-family: 'Technor-Black';
    src: url('../font/Technor-Black.woff2') format('woff2'),
         url('../font/Technor-Black.woff') format('woff'),
         url('../font/Technor-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('../font/GeneralSans-Variable.woff2') format('woff2'),
         url('../font/GeneralSans-Variable.woff') format('woff'),
         url('../font/GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
} 

html{ 
    scroll-behavior: smooth;
}

body{
    font-family: 'GeneralSans-Variable';
    background: #222222;
}

body::-webkit-scrollbar{
    display: none;
}

.navbar{
    background-color: transparent;
}

.login-hidden-nav{
    display: none;
}

.logo-name{
    font-family: 'Technor-Black';
    color: white;
}

.navbartext{
    font-weight: 700;
    color: white;
}

#mm-login{
    background-color: #C6BEAC;
    border: 1px solid #C6BEAC;
    border-radius: 20px;
    font-weight: bold;
    color: black;
}

#mm-login:hover{
    background-color: #FFFFFF;
}

.home-page-slogan{
    color: white;
    font-size: 100px;
    font-weight: 1000;
}

.mainimg{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

#home{
    z-index: 1;
    background-image: linear-gradient(rgba(24, 24, 24, 0.5), rgba(34, 34, 34, 1));
}

#abt-text-header, #how-text-header{
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.abt-text-desc{
    color: white;
}

hr{
    color: white;
}

.howimg{
    margin-top: 10px;
    max-width: 150px;
    max-height: 150px;
}

.howtext{
    color: white;
}