@font-face {
    font-family: 'Technor-Black';
    src: url('../font/Technor-Black.woff2') format('woff2'),
         url('../font/Technor-Black.woff') format('woff'),
         url('../font/Technor-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('../font/GeneralSans-Variable.woff2') format('woff2'),
         url('../font/GeneralSans-Variable.woff') format('woff'),
         url('../font/GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
} 

html{ 
    scroll-behavior: smooth;
}

body{
    font-family: 'GeneralSans-Variable';
}

.navbar{
    background-color: transparent;
}

.login-hidden-nav{
    display: none;
}

.logo-name{
    font-family: 'Technor-Black';
    color: white;
}

.mainimg{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;   
}

#login{
    background: rgb(24, 24, 24, 0.75);
    z-index: 1;
}

.loginbg{
    background: #222222;
    color: white;
}