@font-face {
    font-family: 'Technor-Black';
    src: url('../font/Technor-Black.woff2') format('woff2'),
         url('../font/Technor-Black.woff') format('woff'),
         url('../font/Technor-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('../font/GeneralSans-Variable.woff2') format('woff2'),
         url('../font/GeneralSans-Variable.woff') format('woff'),
         url('../font/GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
} 

html{ 
    scroll-behavior: smooth;
}

body{
    font-family: 'GeneralSans-Variable';
    height: 100vh !important;
}

.navbar{
    background-color: transparent;
}

.login-hidden-nav{
    display: none;
}

.logo-name{
    font-family: 'Technor-Black';
    color: white;
}

.navbartext{
    font-weight: 700;
    color: white;
}

#mm-logout{
    background-color: #C6BEAC;
    border: 1px solid #C6BEAC;
    border-radius: 20px;
    font-weight: bold;
    color: black;
}

#mm-logout:hover{
    background-color: #FFFFFF;
}

.mainimg{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

#profile{
    background-color: rgba(24, 24, 24, 0.75);
    z-index: 1;
}

#no-record{
    background: rgba(24, 24, 24, 0.8);
    border-radius: 20px;
    display: block;
}

#no-record hr{
    color: white;
}

#record{
    background: rgba(24, 24, 24, 0.8);
    border-radius: 20px;
    display: none;
}

#record hr{
    color: white;
}

#register-property-form{
    background: rgba(24, 24, 24, 0.8);
    border-radius: 20px;
    display: none;
}

.walletdisplay, .walletAddress{
    color: white;
    font-weight: 600;
}

.form-floating{
    color: white;
}

.form-floating input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #adad9d;
    color: white;
}

.form-floating input:focus{
    background: transparent;
    border: none;
    border-bottom: 1px solid #adad9d;
    color: white;
}

.profile-info, .update-property-info{
    color: white;
}

.profile-info-header, .update-property-info-header{
    font-weight: 600;
}

.owned-properties-header{
    font-weight: 700;
    color: white;
    font-size: 40px;
}

.register-property-header{
    font-weight: 600;
    font-size: 30px;
    color: white;
}

#register-property-form hr{
    color: white;
}

#update-property-form{
    background: rgba(24, 24, 24, 0.8);
    border-radius: 20px;
    color: white;
    display: none;
}

#update-property-form hr{
    color: white;
}

.sale-info{
    color: white;
}

#profileProperty{
    background-color: rgba(24, 24, 24, 0.75);
    z-index: 1;
}

.owned-property-list{
    background: rgba(24, 24, 24, 0.8);
    border-radius: 20px;
}

.profile-streetaddress{
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.owned-property-list hr{
    color: white;
}

.profile-owned-property-info{
    color: white;
}

.profile-propertyid{
    color: rgba(255, 255, 255, 0.8)
}